
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  /* main styles */
  main{
    max-width: 1280px;
    margin: 0 auto;
  }
  main section{
    /* margin: 80px 0; */
  }
  /* shared styles */
  .section-margin{
    margin: 80px 0;
  }
  .text-center{
    text-align: center;
  }
  .bg-color{
    background-color: #F1F1F3;
  }
  .color-primary{
    color: #C6E4D6;
  }

  .Satellite-title{
    font-weight: bold;
    font-size: 32px;
    color: #0E0E0E;
    margin-bottom: 12px;
  }
  .btn-shared{
    background-color: #006A50;
    color: white;
    border-radius: 8px;
    padding: 17px 34px;
    font-weight: 600;
    font-style: 18px;
    border: none;
  }
  .btn-shared:hover{
    background-color: red;
  }
  .btn-primary{
    color: white;
    border-radius: 8px;
    padding: 17px 34px;
    font-weight: 600;
    font-style: 18px;
    border: none;
  }
  .btn-primary:hover{
    background-color: red;
  }

  .sections-title{
    font-weight: bold;
    font-size: 40px;
    color: #0E0E0E;
    margin-bottom: 24px;
  }
  .section-title{
    font-weight: bold ;
    font-style: 20px;
    color: #0E0E0E;
  }
 .section-description {
    font-style: 16px;
    color: #0E0E0E;
    margin-bottom: 32px;
}
.vision-bg-color-1{
    background-color: rgba(84, 144, 245, 0.2);
}
.vision-bg-color-2{
    background-color: #C6E4D6;
}
.vision-bg-color-3{
    background-color: #F7EBCF;
}
  /* Header styles */
  nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 300px;
  }
  .btn-sign-in{
    color: #006A50;
    border-radius: 8px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #006A50;
    background-color: transparent;
  }
  .btn-sign-in:hover{
    background-color: #006A50;
    color: antiquewhite;
  }

  /* banner styles */
  .banner{
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #C6E4D6;
    border-radius: 24px;
  }
  .banner-content{
    max-width: 622px;
    padding: 117px 60px;
  }
  .banner-profile{
    max-width: 475px;
    padding: 80px 60px;
  }
  .banner-greetings{
    font-weight: 400;
    font-size: 24px;
  }
  .banner-title{
    font-weight: bold;
    font-size: 56px;
    margin-top: 16px;
    margin-bottom: 24px;
  }

  /* pillars section */
  .Pillars-container{
    display: flex;
    gap: 24px;
  }
  .pillar{
    padding: 24px;
    border-radius: 16px;
    background-color: #FFFFFF;
  }

  /* vision styles */
  .vision-container{
    display: flex;
    gap: 24px;
  }
  .vision{
    margin-top: 32px;
    padding: 32px;
    border-radius: 16px;
  }
  .digital-colol{
    background-color: #5490F5;
  }
  .green-color{
    background-color: #09A15C;
  }
  .Modern-color{
    background-color: #FFC239;
  }
  /* quote styles */
  .quote{
    background-image: url('../assets/quote-bg.png');
    background-repeat: no-repeat;
    background-position: top left;
    background-color: white;
    background-origin: content-box;
    border-radius: 16px;
    padding: 48px 24px;
  }
  .quote-yunus{
    margin-top: 12px;
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: 600;
  }
  /* Satellite styles */
  .Satellite-section{
    display: flex;
    gap: 32px;
    background-color: white;
    padding: 48px;
    border-radius: 24px;
    margin-bottom: 24px;
  }
  .satelite-image{
    border-radius: 24px;
  }
  .al-jazeera-image{
    margin: 12px 0px;
  }

  /* donate styles */
  .text-center{
    text-align: center;
  }
  .donate-description{
    width: 1104px;
    text-align: center;
    margin: 0 auto;
  }
  .dollars{
    display: flex;
    justify-content: center;
    gap: 24px;
    /* margin: 15px 0; */
    /* align-items: center; */
  }
  .dollar {
    background-color: white;
    padding: 40px;
    border-radius: 16px;
  }
  .taka {
    background-color: #C6E4D6;
    padding: 40px;
    border-radius: 16px;
  }
  .dollar:hover{
    background-color: #C6E4D6;
  }
  .donate-form{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .donate-form input[type="text"]{
    padding: 20px 40px;
    width: 950px;
    background: #FFFFFF;
    margin: 32px 0;
    border: none;
    text-align: center;
    outline: none;
  }
  input::placeholder{
    font-size: 20px;
    color: rgba(14, 14, 14, 0.3);
  }
  .btn-center{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* Newsletter styles */
  .Newsletter{
    background-color: #C6E4D6;
    padding: 80px 265px;
    border-radius: 24px;
  }
  .width-center{
    width: 622px;
    text-align: center;
    margin: 0 auto;
  }
  .Newsletter-form{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Newsletter-form input[type="text"]{
    padding: 16px 40px;
    width: 500px;
    background: #FFFFFF;
    margin: 32px 0;
    border: none;
    text-align: center;
    outline: none;
  }
  .subscribe-btn{
    background-color: #006A50;
    color: white;
    border-radius: 0 8px 8px 0;
    padding: 17px 34px;
    font-weight: 600;
    font-style: 18px;
    border: none;
  }
  .subscribe-btn:hover{
    background-color: red;
  }